<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <br>
                <h3>Create new Listing</h3><br>
                <form action="/listings" novalidate class="needs-validation" method="post">

                    <div class="mb-3 ">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" placeholder="Enter a Catchy Title" required
                            class="form-control">
                        <div class="valid-feedback">
                            Title Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Enter Title
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" placeholder="Enter Description" class="form-control"
                            required></textarea>
                        <div class="valid-feedback">
                            Description Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please add a Description
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Image URL</label>
                        <input type="text" name="listing[image]" placeholder="Enter Image URL/Link"
                            class="form-control">
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" name="listing[price]" required placeholder="1200" class="form-control">
                        
                        <div class="invalid-feedback">
                            Enter Valid Price
                        </div>
                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" name="listing[location]" required placeholder="Aligarh, Uttar Pradesh"
                                class="form-control">
                            
                        <div class="invalid-feedback">
                            Enter Location
                        </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" required placeholder="India" class="form-control">
                        
                        <div class="invalid-feedback">
                            Add Country 
                        </div>
                    </div>

                    <br><br>
                    <button class="btn btn-dark add-btn">Add</button>
                    <br><br>
                </form>
            </div>
        </div>
    </body>